body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(180deg, rgb(226, 217, 255) 0%, rgb(56, 60, 125) 49%, rgb(233, 166, 244) 100%);
}

#app {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background:#d5d6f7;
}

input, button {
    margin: 10px;
    padding: 10px;
}
